@import url('org_css_dark.css');
@import url('org_css_light.css');


.toggletheme {
    z-index: 999;
    position: fixed;
    top: 2%;
    right: 7%;
    --white:#fff;
    transform: translate(-50%, -50%);
}

.toggletheme input[type="checkbox"] {
  visibility: hidden;
}

.toggletheme input[type=checkbox]{
}

.toggletheme label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30.5px;
  height: 15px;
  background: #2c3e50;
  display: block;
  border-radius: 15px;
  position: relative;
}

.toggletheme label:after {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 12px;
  transition: 0.3s;
}

.toggletheme input:checked + label {
	background: hsl(219deg 17% 77%);
}

.toggletheme input:checked + label:after {
	left: calc(100% - 1.5px);
	transform: translateX(-100%);
}
