@import url('org_css_dark.css');
@import url('org_css_light.css');

body {
   width: 100%;
   height: 100%;
   margin: 0;
   background-size: 5px 5px;
  }

.toggletheme {
    z-index: 999;
    position: fixed;
    top: 25px;
    right: 7%;
    --white:#fff;
    transform: translate(-50%, -50%);
    /* filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.4)); */
}

.toggletheme input[type="checkbox"] {
  visibility: hidden;
}

.toggletheme input[type=checkbox]{
}

.toggletheme label {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.1rem;
  height: 1rem;
  background: rgba(0,0,0,.05);
  display: block;
  border: none;
  border-radius: 500rem;
  position: relative;
}

.toggletheme label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1rem;
  height: 1rem;
  background: #fff ;
  border-radius: 500rem;
  transition: 0.2s;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), inset 0 0 0 1px rgba(34,36,38,.15);
  /* transition: background .3s ease,left .3s ease; */
}

.toggletheme input:checked + label {
	background: rgba(0,0,0,.05);
}

.toggletheme input:checked + label:after {
	left: calc(100%);
	transform: translateX(-99%);
  background: #fff linear-gradient(transparent,rgba(0,0,0,.05))
}

.dark .toggletheme input:checked + label {
  background: rgba(0,0,0,.5);
}

.dark .toggletheme input:checked + label:after {
  background: hsl(219deg 17% 77%) linear-gradient(transparent,rgba(0,0,0,.05))
}


.white_icon {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 2.2rem;
  left: -1.45rem;
  color: rgba(0,0,0,.5);
}

.night_icon {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: -1.015rem;
  left: 2.55rem;
  color: rgba(0,0,0,.5);
}

.dark .white_icon {
  color: rgba(255,255,255,.5);
}

.dark .night_icon {
  color: hsla(286, 59%, 66%, 101%);
}


.light .btncheck {
  text-shadow: 0 0 20px gray;
  background-color: rgb(236, 240, 241);
}

.light .btncheck:hover {
  text-shadow: 0 0 20px gray;
  background-color: white;
  cursor: pointer;
}

.dark .btncheck {
  text-shadow: 0 0 12px gray;
  background-color: hsl(217deg 12% 12%);
}

.dark .btncheck:hover {
  text-shadow: 0 0 12px gray;
  background-color: hsl(220deg 13% 18%);
  cursor: pointer;
}

.btncheck {
  display: block;
  visibility: visible;
  position: fixed;
  top: 25px;
  left: 220px;
  pointer-events: auto;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  /* border-radius: 10px; */
}

@keyframes movein {
  0% {
      transform: translateX(-240);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes moveout {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-240);
  }
}



@media screen and (max-width: 1335px) {

   .btncheck {
     display: none;
   }

    #content {
      max-width: 75em;
      padding-left: 20px;
    }

    .light div.outline-2,.light #footnotes ,.dark div.outline-2,.dark #footnotes{
        margin-left: 5%;
        max-width: 90%;
    }

    .light h1.title ,.dark h1.title{
        text-align: left;
        margin: 1em 0 0 0%;
    }

    .light html, .light body,.dark html, .dark body {
        font-size: 14px;
    }

    .light #table-of-contents,.dark #table-of-contents {
        display: none;
    }
}


@media screen and (min-width: 1335px) {


   .hidden-content {
      transform: translateX(-240px);
   }

   #content {
       max-width: 60em;
       padding-left: 240px;
   }

    .light h1.title ,.dark h1.title{
        text-align: left;
        margin: 1em 0 0 0px;
    }
}

