@import url('org_css_dark.css');
@import url('org_css_light.css');


.toggletheme {
    z-index: 999;
    position: fixed;
    top: 2%;
    right: 7%;
    --white:#fff;
    transform: translate(-50%, -50%);
    /* filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.4)); */
}

.toggletheme input[type="checkbox"] {
  visibility: hidden;
}

.toggletheme input[type=checkbox]{
}

.toggletheme label {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5rem;
  height: 1rem;
  background: rgba(0,0,0,.95);
  display: block;
  border: none;
  border-radius: 500rem;
  position: relative;
}

.toggletheme label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1rem;
  height: 1rem;
  background: #fff ;
  border-radius: 500rem;
  transition: 0.3s;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), inset 0 0 0 1px rgba(34,36,38,.15);
  /* transition: background .3s ease,left .3s ease; */
}

.toggletheme input:checked + label {
	background: hsl(219deg 17% 77%);
}

.toggletheme input:checked + label:after {
	left: calc(100% - 1.5px);
	transform: translateX(-100%);
}

.white_icon {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 2.3rem;
  left: -1.8rem;
}

.night_icon {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: -1.1rem;
  left: 3.3rem;
}

#table-of-contents {
  /* pointer-events:none; */
}

.light .btncheck {
  text-shadow: 0 0 12px gray;
  background-color: white;
}

.light .btncheck {
  text-shadow: 0 0 12px gray;
  background-color: white;
}

.dark .btncheck {
  text-shadow: 0 0 12px gray;
  background-color: hsl(220deg 13% 18%);
}

.btncheck {
  /* background: ; */
  width: 40px;
  height: 40px;
  display: block;
  visibility: visible;
  position: fixed;
  right: -15px;
  top: 30px;
  left:215px;
  margin: 3px;
  padding: 0px;
  font-size: 40px;
  pointer-events: auto;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

@keyframes movein {
  0% {
      transform: translateX(-240);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes moveout {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-240);
  }
}



@media screen and (max-width: 1335px) {
    .light html, .light body {
        font-size: 14px;
    }

    .light #table-of-contents {
        display: none;
    }

   .btncheck {
     display: none;
   }

    #content {
      max-width: 75em;
      padding-left: 20px;
    }

    .light div.outline-2,.light  #footnotes {
        margin-left: 5%;
        max-width: 90%;
    }

    .light h1.title {
        text-align: left;
        margin: 1em 0 0 0%;
    }
}


@media screen and (min-width: 1335px) {


   .hidden-content {
      transform: translateX(-240px);
   }

   #content {
       max-width: 60em;
       padding-left: 240px;
   }

    .light h1.title {
        text-align: left;
        margin: 1em 0 0 0px;
    }
}

