@import url('org_css_dark.css');
@import url('org_css_light.css');
.toggletheme {
    z-index: 999;
    position: fixed;
    right: 150px;
    top: 0;
    --white:#fff;
    transform: translate(-50%, -50%);
  /* 其他样式属性 */
}

.toggletheme input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggletheme label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

.toggletheme label:after {
  content: "";
  background:var(--white);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.toggletheme input:checked + label:after {
  background: black;
}

.toggletheme input:checked + label {
  background: white;
}

.toggletheme input:checked + label:after {
  /* left: calc(100% - 5px); */
  /* -webkit-transform: translateX(-100%); */
  /* -moz-transform: translateX(-100%); */
  /* -ms-transform: translateX(-100%); */
  /* -o-transform: translateX(-100%); */
  /* transform: translateX(-100%); */
}

